nav {
    width: 100%;
    /* background: #333; */
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    font-weight: 600;
    transition: 0.7s;

    img {
        transition: .7s;

    }
}

.logo {
    width: 180px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

.dark-nav {
    color: rgb(35, 35, 35);
    transition: 0.7s;

    img {
        background-color: rgba(35, 35, 35, 0.479);
        border-radius: 25px;
        padding: 0 15px;
        transition: .7s;
    }

    .btn {
        transition: 0.7s;
        background-color: rgb(35, 35, 35);
        color: #fff;
    }
}

.menu-icon {
    display: none;
}

/*------------- media query-------------- */

@media (max-width: 1000px) {
    .logo {
        width: 140px;
    }

    nav ul li {
        margin: 10px 15px;
    }
}

@media (max-width: 880px) {
    nav {
        padding: 15px 0;

        .btn {
            padding: 12px 12px;
        }
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0px;
        background: #212ea0a2;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }

    nav ul li {
        display: block;
        margin: 25px 40px;
    }

    .menu-icon {
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .hide-mobile-menu {
        right: -200px;
    }

}